Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

test:chromatic:
  image: node:16.11.0
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .npm/
  stage: chromatic
  needs:
  - test:ui-sample
  script:
  - cd packages
  - npm ci
  - npx chromatic --exit-zero-on-changes --project-token ${CHROMATIC_PROJECT_TOKEN} --junit-report junit.xml
  artifacts:
    expire_in: 1 week
    when: always
  ...

versions:bump:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  image: registry.gitlab.com/pep10/pepsuite/develop:${BUILD_VERSION}
  before_script:
  - apt update
  - apt-get install git-lfs
  - source /emsdk/emsdk_env.sh
  - export CXX=$(which clang++)
  - export C=$(which clang)
  stage: deploy
  needs:
  - build:core:wasm
  ...

ci(sample): Add CI testing script to component library
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
Due: test:chromatic, versions:bump

feat(sample): Add generate-react-cli template
  packages/ui-sample/generate-react-cli.json
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.d.ts
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.scss
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.stories.mdx
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.stories.tsx
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.test.tsx
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.tsx
  packages/ui-sample/src/components/StoriedComponent/index.ts
  packages/ui-sample/src/index.tsx
  packages/ui-sample/templates/component/TemplateName.d.ts
  packages/ui-sample/templates/component/TemplateName.scss
  packages/ui-sample/templates/component/TemplateName.stories.mdx
  packages/ui-sample/templates/component/TemplateName.stories.tsx
  packages/ui-sample/templates/component/TemplateName.test.tsx
  packages/ui-sample/templates/component/TemplateName.tsx
  packages/ui-sample/templates/component/index.ts
Due: test:chromatic, versions:bump

feat(sample): Consume templated component in hello-world
  bin/hello-world/package-lock.json
  bin/hello-world/package.json
  bin/hello-world/src/components/app.tsx
Due: versions:bump

feat(sample): Add storybook to packages dir
  package.json
  packages/.storybook/main.js
  packages/.storybook/preview.js
  packages/package-lock.json
  packages/package.json
  packages/ui-sample/src/components/StoriedComponent/StoriedComponent.tsx
Due: test:chromatic, versions:bump

fix(sample): Mismatched storybook addons
  packages/.storybook/main.js
  packages/package-lock.json
  packages/package.json
Due: test:chromatic, versions:bump

fix: Ignore template story
  packages/.storybook/main.js
Due: test:chromatic, versions:bump

ci: Add compact CI/CD pipeline for packages
  .gitlab-ci.yml
  packages/packages.yml
Due: test:chromatic, versions:bump

ci: Fix missing `script` keyword
  packages/packages.yml
Due: test:chromatic, versions:bump

fix(sample): Misplaced type roots
  packages/ui-sample/tsconfig.build.json
Due: test:chromatic, versions:bump

ci: Add stages to package pipelines
  packages/packages.yml
Due: test:chromatic, versions:bump

fix(sample): Add missing dependency for jest's scss loading
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
Due: test:chromatic, versions:bump

test: Run tests with JUnit reports
  packages/packages.yml
Due: test:chromatic, versions:bump

chore: Move SASS to devDependencies
  packages/package.json
Due: test:chromatic, versions:bump

chore: Release 1.0.0
  bin/hello-world/package.json
  lerna.json
  packages/ui-core/package.json
Due: test:chromatic, versions:bump

ci: Force lerna publish on change
  .gitlab-ci.yml
  packages/packages.yml
Due: test:chromatic, versions:bump

ci: Fix version bump pipeline
  .gitlab-ci.yml
Due: none

ci: Skip CI on `lerna publish`
  .gitlab-ci.yml
Due: none

ci: Trigger lerna publish
  packages/package.json
Due: test:chromatic, versions:bump

ci: Trigger `lerna publish`
  .gitlab-ci.yml
  packages/package.json
Due: test:chromatic, versions:bump

ci: Checkout main branch on `lerna publish`
  .gitlab-ci.yml
Due: none

ci: Add conventional-changelog-eslint for CI pipelines
  package-lock.json
  package.json
Due: none

ci: Attempt to force `lerna publish`
  packages/ui-sample/src/components/Button/Button.tsx
Due: test:chromatic, versions:bump

ci: Force republish all packages
  .gitlab-ci.yml
Due: none

ci: Fix broken escape character
  .gitlab-ci.yml
Due: none

ci: Answer yes to lerna publish prompts
  .gitlab-ci.yml
Due: none

ci: Use correct changelog
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: none

ci: Set git user name/email for `lerna publish`
  .gitlab-ci.yml
Due: none

ci: Remove extra quotes
  .gitlab-ci.yml
Due: none

ci: Change origin url to allow push
  .gitlab-ci.yml
Due: none

chore: Release 1.0.1 [skip ci]
  CHANGELOG.md
  bin/hello-world/CHANGELOG.md
  bin/hello-world/package-lock.json
  bin/hello-world/package.json
  lerna.json
  packages/ui-core/CHANGELOG.md
  packages/ui-core/package.json
  packages/ui-sample/CHANGELOG.md
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
Due: test:chromatic, versions:bump

ci: Add Gitlab NPM token
  .gitlab-ci.yml
Due: none

ci: Release 1.0.2 [skip ci]
  CHANGELOG.md
  bin/hello-world/CHANGELOG.md
  bin/hello-world/package-lock.json
  bin/hello-world/package.json
  lerna.json
  packages/ui-core/CHANGELOG.md
  packages/ui-core/package.json
  packages/ui-sample/CHANGELOG.md
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
Due: test:chromatic, versions:bump

ci: Limit unnecessary publishes
  .gitlab-ci.yml
Due: none

feat: Add chromatic testing
  packages/packages.yml
Due: test:chromatic, versions:bump

feat(sample): Copy sample for electron-sample
  bin/electron-sample/CHANGELOG.md
  bin/electron-sample/craco.config.js
  bin/electron-sample/package-lock.json
  bin/electron-sample/package.json
  bin/electron-sample/public/index.html
  bin/electron-sample/src/components/app.tsx
  bin/electron-sample/src/index.tsx
  bin/electron-sample/src/react-app-env.d.ts
  bin/electron-sample/tsconfig.json
  bin/electron-sample/tsconfig.paths.json
Due: versions:bump

feat(sample): Electron+React+TS electron sample app
  bin/electron-sample/CHANGELOG.md
  bin/electron-sample/electron/main.ts
  bin/electron-sample/electron/tsconfig.json
  bin/electron-sample/package-lock.json
  bin/electron-sample/package.json
  bin/electron-sample/src/components/app.tsx
  bin/electron-sample/src/index.tsx
  package.json
  packages/ui-sample/tsconfig.build.json
Due: test:chromatic, versions:bump

feat(sample): Link against ui-sample
  bin/electron-sample/package.json
  bin/hello-world/package-lock.json
Due: versions:bump

feat(sample): Attempt to build electron app
  .gitlab-ci.yml
  bin/electron-sample/bin.yml
Due: versions:bump

chore: Add helper script to count lines of code
  cloc.sh
Due: none

ci: Move pipeline configuration to right dir
  bin/bin.yml
Due: versions:bump

Path conditions:
  test:chromatic: any of: packages/**/*
  versions:bump: any of: packages/**/*, bin/**/*, lib/**/*
