Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*

style: format json files
  bin/ide/package.json
  bin/term/package.json
  c_cpp_properties.json
  configs/base.tsconfig.json
  package.json
  packages/extensions/start-page/package.json
  packages/extensions/start-page/tsconfig.json
  packages/extensions/theia-blueprint-updater/package.json
  packages/extensions/theia-blueprint-updater/tsconfig.json
  packages/native/core/package.json
  packages/ui/converters/package.json
  packages/ui/cpu/package.json
  packages/ui/help/package.json
  packages/ui/package.json
  packages/ui/sample/package.json
Due: test:chromatic, versions:bump

style(ui): disable outline on read-only converters
  packages/ui/converters/src/IntegralConverter/IntegralConverter.scss
  packages/ui/converters/src/IntegralConverter/IntegralConverter.stories.tsx
  packages/ui/converters/src/IntegralConverter/IntegralConverter.tsx
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.scss
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.stories.tsx
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.tsx
Due: test:chromatic, versions:bump

refactor(ui): convert MapConverter to use <input>
  packages/ui/converters/src/MapConverter/MapConverter.scss
  packages/ui/converters/src/MapConverter/MapConverter.tsx
Due: test:chromatic, versions:bump

fix(ui): fix broken MapConverter test
  packages/ui/converters/src/MapConverter/MapConverter.test.tsx
Due: test:chromatic, versions:bump

fix(ui): prevent text movement on switch to RO
  packages/ui/converters/src/IntegralConverter/IntegralConverter.scss
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.scss
Due: test:chromatic, versions:bump

fix(ui): fix MapConverter style regression on RO
  packages/ui/converters/src/MapConverter/MapConverter.scss
Due: test:chromatic, versions:bump

fix(ui): fix broken unit test for MapConverter
  packages/ui/converters/src/MapConverter/MapConverter.test.tsx
Due: test:chromatic, versions:bump

docs(ui): add spec for RegistersPane
  packages/ui/cpu/src/RegistersPane/RegistersPane.stories.mdx
Due: test:chromatic, versions:bump

docs(ui): update RO converter specs
  packages/ui/converters/src/IntegralConverter/IntegralConverter.stories.mdx
  packages/ui/converters/src/MapConverter/MapConverter.stories.mdx
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.stories.mdx
Due: test:chromatic, versions:bump

docs(ui): address 0 padding in spec
  packages/ui/converters/src/IntegralConverter/IntegralConverter.stories.mdx
Due: test:chromatic, versions:bump

feat(ui): add stub for ExportsViewer
  packages/ui/help/src/ExportsViewer/ExportsViewer.scss
  packages/ui/help/src/ExportsViewer/ExportsViewer.stories.mdx
  packages/ui/help/src/ExportsViewer/ExportsViewer.stories.tsx
  packages/ui/help/src/ExportsViewer/ExportsViewer.test.tsx
  packages/ui/help/src/ExportsViewer/ExportsViewer.tsx
  packages/ui/help/src/ExportsViewer/index.ts
Due: test:chromatic, versions:bump

feat(ui): add basic implementation for ExportsViewer
  packages/ui/help/src/ExportsViewer/ExportsViewer.scss
  packages/ui/help/src/ExportsViewer/ExportsViewer.stories.mdx
  packages/ui/help/src/ExportsViewer/ExportsViewer.stories.tsx
  packages/ui/help/src/ExportsViewer/ExportsViewer.tsx
Due: test:chromatic, versions:bump

feat(ui): render ExportViewer value with IntegralConverter
  packages/ui/help/package.json
  packages/ui/help/src/ExportsViewer/ExportsViewer.tsx
  yarn.lock
Due: test:chromatic, versions:bump

feat(ui): explicitly enumerate supported bases
  packages/ui/converters/src/IntegralConverter/IntegralConverter.tsx
  packages/ui/converters/src/IntegralConverter/index.ts
Due: test:chromatic, versions:bump

feat(ui): allow multiple bases in ExportsViewer
  packages/ui/help/src/ExportsViewer/ExportsViewer.stories.tsx
  packages/ui/help/src/ExportsViewer/ExportsViewer.tsx
Due: test:chromatic, versions:bump

test(ui): fix broken unit test for ExportsViewer
  packages/ui/help/src/ExportsViewer/ExportsViewer.test.tsx
Due: test:chromatic, versions:bump

build(scripts): fix broken cloc regex
  scripts/cloc.sh
Due: none

refactor(ide): remove E2E workspace test
  bin/ide/test/workspace/README.md
Due: versions:bump

refactor(extensions): rename update plugin
  packages/extensions/updater/CHANGELOG.md
  packages/extensions/updater/package.json
  packages/extensions/updater/src/common/updater/theia-updater.ts
  packages/extensions/updater/src/electron-browser/theia-updater-frontend-module.ts
  packages/extensions/updater/src/electron-browser/updater/theia-updater-frontend-contribution.ts
  packages/extensions/updater/src/electron-browser/updater/theia-updater-preferences.ts
  packages/extensions/updater/src/electron-main/update/theia-updater-impl.ts
  packages/extensions/updater/src/electron-main/update/theia-updater-main-module.ts
  packages/extensions/updater/tsconfig.json
Due: versions:bump

refactor(extensions): rename start-page
  packages/extensions/start-page/package.json
  packages/extensions/start-page/tsconfig.json
Due: versions:bump

build(extensions): update extension deps
  bin/ide/package.json
  yarn.lock
Due: versions:bump

docs(extensions): add note about extension naming
  packages/extensions/README.md
Due: versions:bump

build: add task to clone submodules
  .vscode/tasks.json
Due: none

build: downgrade TS target version
  configs/base.tsconfig.json
Due: none

build(ide): add script to fix broken node-gyp packages
  package.json
  scripts/fix-install.sh
Due: none

docs(ide): begin re-branding IDE
  bin/ide/electron-builder.yml
Due: versions:bump

build: add scripts to build extensions, terminal
  package.json
Due: none

ci: build IDE/term for linux
  .gitlab-ci.yml
Due: none

ci: fix bin build tags
  .gitlab-ci.yml
Due: none

fix(ui): stop using BigInt literals
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.tsx
Due: test:chromatic, versions:bump

buil(scripts): patch manifest for native-keymap
  .gitlab-ci.yml
  scripts/fix-install.sh
Due: none

test(ui): use local state in tests
  packages/ui/converters/src/IntegralConverter/tests/Binary.test.tsx
  packages/ui/converters/src/IntegralConverter/tests/Hexadecimal.test.tsx
Due: test:chromatic, versions:bump

test(ui): add regression tests for IntegralConverter
  packages/ui/converters/src/IntegralConverter/tests/Binary.test.tsx
  packages/ui/converters/src/IntegralConverter/tests/Hexadecimal.test.tsx
Due: test:chromatic, versions:bump

ci: stop pushing `bin/*` artifacts on dev
  .gitlab-ci.yml
Due: none

build(ui): fix incorrect template path
  packages/ui/converters/generate-react-cli.json
  packages/ui/cpu/generate-react-cli.json
  packages/ui/help/generate-react-cli.json
  packages/ui/sample/generate-react-cli.json
Due: test:chromatic, versions:bump

feat(ui): add stub package for editors
  packages/ui/editors/.npmrc
  packages/ui/editors/generate-react-cli.json
  packages/ui/editors/jest.config.js
  packages/ui/editors/jest.setup.ts
  packages/ui/editors/package.json
  packages/ui/editors/src/Button/Button.test.tsx
  packages/ui/editors/src/Button/Button.tsx
  packages/ui/editors/src/Button/index.ts
  packages/ui/editors/src/Editors.stories.mdx
  packages/ui/editors/src/index.ts
  packages/ui/editors/templates/component/TemplateName.scss
  packages/ui/editors/templates/component/TemplateName.stories.mdx
  packages/ui/editors/templates/component/TemplateName.stories.tsx
  packages/ui/editors/templates/component/TemplateName.test.tsx
  packages/ui/editors/templates/component/TemplateName.tsx
  packages/ui/editors/templates/component/index.ts
  packages/ui/editors/tsconfig.json
  yarn.lock
Due: test:chromatic, versions:bump

feat(ui): add stub for ObjectCodePane
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.scss
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.stories.mdx
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.stories.tsx
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.test.tsx
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.tsx
  packages/ui/editors/src/ObjectCodePane/index.ts
  packages/ui/editors/src/index.ts
Due: test:chromatic, versions:bump

feat(ui): implement object code utilities
  packages/ui/editors/src/ObjectCodeParser/ObjectCodeParser.test.tsx
  packages/ui/editors/src/ObjectCodeParser/ObjectCodeParser.tsx
  packages/ui/editors/src/ObjectCodeParser/index.ts
Due: test:chromatic, versions:bump

style(ui): eslint fixes for ObjectCodeParser
  packages/ui/editors/src/ObjectCodeParser/ObjectCodeParser.test.tsx
  packages/ui/editors/src/ObjectCodeParser/ObjectCodeParser.tsx
  packages/ui/editors/src/ObjectCodeParser/index.ts
Due: test:chromatic, versions:bump

feat(ui): implement first pass of ObjectCodePane
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.scss
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.stories.tsx
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.test.tsx
  packages/ui/editors/src/ObjectCodePane/ObjectCodePane.tsx
Due: test:chromatic, versions:bump
