Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

test:chromatic:
  image: node:16.11.0
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .npm/
  stage: chromatic
  needs:
  - test:ui-sample
  script:
  - cd packages
  - npm ci
  - npx chromatic --exit-zero-on-changes --project-token ${CHROMATIC_PROJECT_TOKEN} --junit-report junit.xml
  artifacts:
    expire_in: 1 week
    when: always
  ...

versions:bump:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  image: registry.gitlab.com/pep10/pepsuite/develop:${BUILD_VERSION}
  before_script:
  - apt update
  - apt-get install git-lfs
  - source /emsdk/emsdk_env.sh
  - export CXX=$(which clang++)
  - export C=$(which clang)
  stage: deploy
  needs:
  - build:core:wasm
  ...

Build: Upload JUnit reports for correct job (DEV-4)
  .gitlab-ci.yml
Due: none

Build: Upload core's output as an artifact
  .gitlab-ci.yml
Due: none

Build: Upload JUnit reports from core (DEV-5)
  .gitlab-ci.yml
  lib/core/test/libisa/asmb/CMakeLists.txt
  lib/core/test/libisa/builtins/CMakeLists.txt
  lib/core/test/libisa/definitions/CMakeLists.txt
  lib/core/test/libisa/elf_tools/CMakeLists.txt
  lib/core/test/libisa/execution/pep10/breakpoints/CMakeLists.txt
  lib/core/test/libisa/execution/pep10/instructions/CMakeLists.txt
  lib/core/test/libisa/execution/pep10/instructions_preconditions/CMakeLists.txt
  lib/core/test/libisa/masm/CMakeLists.txt
  lib/core/test/libisa/storage/CMakeLists.txt
  lib/core/test/libisa/symbol/CMakeLists.txt
Due: versions:bump

Build: Add dummy package.json to wasm build
  .gitlab-ci.yml
Due: none

Build: Skip JUnit report for isa validation (DEV-5)
  lib/core/test/libisa/execution/pep10/instructions/CMakeLists.txt
Due: versions:bump

Build: Properly dist files for core
  .gitlab-ci.yml
Due: none

Build: Drop test:term:linux job
  .gitlab-ci.yml
Due: none

Build: Properly generate dummy package.json
  lib/core/build-js.sh
  lib/core/package.json
Due: versions:bump

Build: Use correct package.json for packing core
  .gitlab-ci.yml
Due: none

Build: Fix prebuild step on build:core:wasm
  .gitlab-ci.yml
Due: none

Chore: Move `cloc` script to subdirectory
  cloc.sh
  scripts/cloc.sh
Due: none

Build: Install missing NPM packages for wasm build
  .gitlab-ci.yml
Due: none

Build: Disable nested tests
  .gitlab-ci.yml
  bin/term/CMakeLists.txt
  bin/term/build-linux-dbg.sh
  bin/term/build-linux-rel.sh
  lib/builtins/CMakeLists.txt
  lib/core/CMakeLists.txt
  lib/core/build-js.sh
  lib/core/build-native-cov.sh
  lib/core/build-native-dbg.sh
  lib/core/build-native-rel.sh
Due: versions:bump

Build: Don't rebuild core on publish (DEV-7)
  lib/core/package.json
Due: versions:bump

Build: Correct path for core scripts
  .gitlab-ci.yml
Due: none

Build: Add babel core dev dep.
  lib/core/package.json
Due: versions:bump

Build: Downgrade Node version to 14 in CI (AD-7)
  .gitlab-ci.yml
Due: none

Revert "Build: Downgrade Node version to 14 in CI (AD-7)"
  .gitlab-ci.yml
Due: none

Fix: Escape quotes in Term version header
  bin/term/src/CMakeLists.txt
Due: versions:bump

Build: Remove NPM caching in CI (DEV-8)
  .gitlab-ci.yml
Due: none

Chore: Release 1.0.3 [skip ci]
  CHANGELOG.md
  bin/electron-sample/CHANGELOG.md
  bin/electron-sample/package-lock.json
  bin/electron-sample/package.json
  bin/hello-world/CHANGELOG.md
  bin/hello-world/package-lock.json
  bin/hello-world/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  lib/builtins/CHANGELOG.md
  lib/builtins/package.json
  lib/core/CHANGELOG.md
  lib/core/package-lock.json
  lib/core/package.json
  packages/ui-core/CHANGELOG.md
  packages/ui-core/package.json
  packages/ui-sample/CHANGELOG.md
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
Due: test:chromatic, versions:bump

Fix: unsafePerm due to container ownership issues
  bin/electron-sample/.npmrc
  bin/hello-world/.npmrc
  bin/term/.npmrc
  lib/builtins/.npmrc
  lib/core/.npmrc
  packages/ui-sample/.npmrc
Due: test:chromatic, versions:bump

Build: Don't force republish with lerna
  .gitlab-ci.yml
Due: none

Update: Remove unused CI pipeline fille
  bin/term/.gitlab-ci.yml
Due: versions:bump

feat: Remove dependency on PepCore
  bin/term/.gitmodules
Due: versions:bump

Build: Update root level package-lock
  package-lock.json
Due: none

ci: Configure SAST in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

Add LICENSE
  LICENSE
Due: none

feat: Add ESLint formatting on save, plugins
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: Add ESLint dependencies and plugins
  package-lock.json
  package.json
Due: none

chore: Add basic .gitignore
  .gitignore
Due: none

feat: Add basic multi-package configuration
  package.json
  packages/ui-core/package.json
  packages/ui-sample/package.json
Due: test:chromatic, versions:bump

feat: Add basic Lerna configuration
  lerna.json
  package-lock.json
  package.json
Due: none

feat: Add basic tsconfig
  tsconfig.build.json
  tsconfig.json
Due: none

chore: Ignore dist files, DS_Store
  .gitignore
Due: none

feat(sample): Create basic React package
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
  packages/ui-sample/src/index.tsx
  packages/ui-sample/tsconfig.build.json
  packages/ui-sample/tsconfig.json
Due: test:chromatic, versions:bump

feat(sample): Add sample application that consume library
  bin/hello-world/craco.config.js
  bin/hello-world/package-lock.json
  bin/hello-world/package.json
  bin/hello-world/public/index.html
  bin/hello-world/src/components/app.tsx
  bin/hello-world/src/index.tsx
  bin/hello-world/src/react-app-env.d.ts
  bin/hello-world/tsconfig.json
  bin/hello-world/tsconfig.paths.json
Due: versions:bump

build(ui-core): Add build command
  packages/ui-core/package.json
Due: test:chromatic, versions:bump

refactor(sample): Move sample component to subfolder
  bin/hello-world/src/components/app.tsx
  packages/ui-sample/src/components/Button/Button.tsx
  packages/ui-sample/src/components/Button/index.ts
  packages/ui-sample/src/index.tsx
Due: test:chromatic, versions:bump

test(sample): Add Jest testing to sample library
  packages/ui-sample/jest.config.js
  packages/ui-sample/jest.setup.ts
  packages/ui-sample/package-lock.json
  packages/ui-sample/package.json
  packages/ui-sample/src/components/Button/Button.test.tsx
  packages/ui-sample/tsconfig.build.json
Due: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/**/*
  versions:bump: any of: packages/**/*, bin/**/*, lib/**/*
