Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

test:chromatic:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  image: registry.gitlab.com/pep10/pepsuite/develop:${BUILD_VERSION}
  before_script:
  - apt update
  - apt-get install git-lfs
  - source /emsdk/emsdk_env.sh
  - export CXX=$(which clang++-14)
  - export C=$(which clang-14)
  - yarn config set cache-folder ./npm
  ...

versions:bump:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  image: registry.gitlab.com/pep10/pepsuite/develop:${BUILD_VERSION}
  before_script:
  - apt update
  - apt-get install git-lfs
  - source /emsdk/emsdk_env.sh
  - export CXX=$(which clang++-14)
  - export C=$(which clang-14)
  - yarn config set cache-folder ./npm
  ...

ci: fix auto-release script
  .gitlab-ci.yml
Due: none

ci: remove version bump script
  .gitlab-ci.yml
  scripts/version-bump.yml
Due: none

refactor(term): remove spurious log file
  bin/js-term/log.txt
Due: versions:bump

fix(term): prevent crashed when stdin is empty
  bin/js-term/src/index.ts
Due: versions:bump

fix(core): add newline between asmb listing, symtab
  packages/native/core/src/libisa/masm/utils/listing.tpp
Due: versions:bump

style(core): apply clang-format to symbol visitors
  packages/native/core/src/libisa/symbol/visit.tpp
Due: versions:bump

fix(core): increase spacing between symtab columns
  packages/native/core/src/libisa/masm/utils/listing.tpp
  packages/native/core/src/libisa/symbol/visit.tpp
Due: versions:bump

fix(core): make addressing mode string lower case
  packages/native/core/src/libisa/asmb/pep10/ir.cpp
Due: versions:bump

fix(core): capitalize hex strings in symtab
  packages/native/core/src/libisa/symbol/visit.tpp
Due: versions:bump

build: release 0.4.1 [skip ci]
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/js-term/CHANGELOG.md
  bin/js-term/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/updater/CHANGELOG.md
  packages/extensions/updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/editors/CHANGELOG.md
  packages/ui/editors/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/memory/CHANGELOG.md
  packages/ui/memory/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
  yarn.lock
Due: test:chromatic, versions:bump

fix(core): fix listing+symtab spacing
  packages/native/core/src/libisa/masm/utils/listing.tpp
Due: versions:bump

style(core): fix newline spacing bug in symtab
  packages/native/core/src/libisa/symbol/visit.tpp
Due: versions:bump

fix(term): stop ignoring `asm`'s --os flag
  bin/js-term/src/index.ts
Due: versions:bump

refactor(term): improve brevity of source load
  bin/js-term/src/index.ts
Due: versions:bump

feat(term): add ability to assemble only OS
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

fix(term): spelling fixes in `asm` flags
  bin/js-term/src/commands.ts
Due: versions:bump

build: release 0.5.0 [skip ci]
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/js-term/CHANGELOG.md
  bin/js-term/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/updater/CHANGELOG.md
  packages/extensions/updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/editors/CHANGELOG.md
  packages/ui/editors/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/memory/CHANGELOG.md
  packages/ui/memory/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
  yarn.lock
Due: test:chromatic, versions:bump

build: add release helper script
  scripts/bump.sh
Due: none

build: update VS Code + dev container settings
  .devcontainer/devcontainer.json
  .vscode/c_cpp_properties.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

build: add helper script to automate docker builds [skip-ci]
  scripts/docker-build.sh
Due: none

build: bump development container version
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  docker/develop/Dockerfile
Due: none

build(term): add necessary packages for testing
  bin/js-term/package.json
  yarn.lock
Due: versions:bump

build: switch TSC target to ES2020
  configs/base.tsconfig.json
Due: none

fix(core): add quotes to character arguments
  packages/native/core/src/libisa/masm/ir/args.tpp
Due: versions:bump

fix(core): fix formatting string for IR char argument
  packages/native/core/src/libisa/masm/ir/args.tpp
Due: versions:bump

test(core): fix tests for IR char argument
  packages/native/core/test/libisa/masm/args.cpp
Due: versions:bump

fix(term): add extensions to imports
  bin/js-term/src/index.ts
Due: versions:bump

build: add additional dependencies to dev container
  docker/develop/Dockerfile
Due: none

build: update devcontainer extensions
  .devcontainer/devcontainer.json
Due: none

build: remove `jest` extension
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

build(ext): build extensions as commonjs
  packages/extensions/start-page/package.json
  packages/extensions/updater/package.json
Due: versions:bump

refactor(term): remove old C++ implementation
  bin/term/.dockerignore
  bin/term/.gitignore
  bin/term/.npmrc
  bin/term/CHANGELOG.md
  bin/term/CMakeLists.txt
  bin/term/README.md
  bin/term/build-linux-dbg.sh
  bin/term/build-linux-rel.sh
  bin/term/build.js
  bin/term/package.json
  bin/term/src/CMakeLists.txt
  bin/term/src/about.txt
  bin/term/src/assemble.cpp
  bin/term/src/assemble.hpp
  bin/term/src/formatter.hpp
  bin/term/src/gen.py
  bin/term/src/lib.cpp
  bin/term/src/run.cpp
  bin/term/src/run.hpp
  bin/term/src/strings.hpp
  bin/term/src/term_main.cpp
  bin/term/src/term_version.hpp.in
  bin/term/src/utils.cpp
  bin/term/src/utils.hpp
  bin/term/test/CMakeLists.txt
  bin/term/test/dummy.cpp
Due: versions:bump

build(term): mark term application as CJS
  bin/js-term/package.json
  bin/js-term/webpack.config.cjs
Due: versions:bump

build: fix crashing docker builds
  docker/develop/Dockerfile
Due: none

build: upgrade dev container
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

build(term): update lockfile for new main script
  yarn.lock
Due: none

ci: disable windows IDE builds
  .gitlab-ci.yml
Due: none

build: release v0.5.1
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/js-term/CHANGELOG.md
  bin/js-term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/updater/CHANGELOG.md
  packages/extensions/updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/editors/CHANGELOG.md
  packages/ui/editors/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/memory/CHANGELOG.md
  packages/ui/memory/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
  yarn.lock
Due: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*
