Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*

test(ui): fix incorrect range on hexadecimal test
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Hexadecimal.test.tsx
Due: test:chromatic, versions:bump

test(core): add extra spaces in test
  packages/native/core/test/libisa/masm/lir.cpp
Due: versions:bump

test(ui): remove spurious backslash
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Hexadecimal-prefixless.test.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Hexadecimal.test.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/UnsignedDecimal.test.tsx
Due: test:chromatic, versions:bump

ci: remove gemnasium-dependency_scanning
  .gitlab-ci.yml
Due: none

ci: add kubernetes agent
  .gitlab/agents/PrivateAgent/config.yaml
Due: none

ci: rename k8s agent
  .gitlab/agents/private-agent/config.yaml
Due: none

ci: update GitLab agent CI permissions
  .gitlab/agents/private-agent/config.yaml
Due: none

ci: update project id
  .gitlab/agents/private-agent/config.yaml
Due: none

feat(core): implement symbol table listing
  packages/native/core/src/libisa/masm/utils/listing.tpp
  packages/native/core/src/libisa/symbol/visit.hpp
  packages/native/core/src/libisa/symbol/visit.tpp
  packages/native/core/test/libisa/symbol/one_table.cpp
Due: versions:bump

fix(term): fix crash on bad figure, macro
  bin/js-term/src/index.ts
Due: versions:bump

fix(term): fix sorting on symbol table
  packages/native/core/src/libisa/symbol/visit.tpp
Due: versions:bump

build(term): add script to sign terminal application
  bin/js-term/package.json
Due: versions:bump

feat(ui): add package for memory components
  packages/ui/memory/.npmrc
  packages/ui/memory/generate-react-cli.json
  packages/ui/memory/jest.config.js
  packages/ui/memory/jest.setup.ts
  packages/ui/memory/package.json
  packages/ui/memory/src/Button/Button.test.tsx
  packages/ui/memory/src/Button/Button.tsx
  packages/ui/memory/src/Button/index.ts
  packages/ui/memory/src/Memory.stories.mdx
  packages/ui/memory/src/index.ts
  packages/ui/memory/templates/component/TemplateName.scss
  packages/ui/memory/templates/component/TemplateName.stories.mdx
  packages/ui/memory/templates/component/TemplateName.stories.tsx
  packages/ui/memory/templates/component/TemplateName.test.tsx
  packages/ui/memory/templates/component/TemplateName.tsx
  packages/ui/memory/templates/component/index.ts
  packages/ui/memory/tsconfig.json
  yarn.lock
Due: test:chromatic, versions:bump

refactor(ui): match main repo directory structure
  packages/ui/memory/.eslintignore
  packages/ui/memory/.eslintrc.js
  packages/ui/memory/.gitignore
  packages/ui/memory/LICENSE
  packages/ui/memory/README.md
  packages/ui/memory/babel.config.js
  packages/ui/memory/package.json
  packages/ui/memory/rollup.config.js
  packages/ui/memory/src/components/AutoSizeHexEditor.tsx
  packages/ui/memory/src/components/HexAsciiValue.tsx
  packages/ui/memory/src/components/HexByteValue.tsx
  packages/ui/memory/src/components/HexEditor.tsx
  packages/ui/memory/src/components/HexEditorBody.tsx
  packages/ui/memory/src/components/HexEditorBodyRow.tsx
  packages/ui/memory/src/components/HexEditorGutter.tsx
  packages/ui/memory/src/components/HexEditorMeasureRow.tsx
  packages/ui/memory/src/components/HexEditorRow.tsx
  packages/ui/memory/src/components/HexOffsetLabel.tsx
  packages/ui/memory/src/components/StyledAutoSizeHexEditor.tsx
  packages/ui/memory/src/components/StyledHexEditor.tsx
  packages/ui/memory/src/constants/classNames.ts
  packages/ui/memory/src/constants/index.ts
  packages/ui/memory/src/constants/inlineStyles.ts
  packages/ui/memory/src/contexts/HexEditorContext.tsx
  packages/ui/memory/src/index.tsx
  packages/ui/memory/src/keycoder.d.ts
  packages/ui/memory/src/themes/index.ts
  packages/ui/memory/src/themes/oneDarkPro.ts
  packages/ui/memory/src/types.ts
  packages/ui/memory/src/utils/index.ts
  packages/ui/memory/src/utils/styles.ts
  packages/ui/memory/tsconfig.json
  packages/ui/memory/yarn.lock
Due: test:chromatic, versions:bump

build(ui): merge react-hex-editor packages and configs
  configs/base.tsconfig.json
  packages/ui/memory/package.json
  yarn.lock
Due: test:chromatic, versions:bump

build(ui): remove unused files in react-hex-editor
  packages/ui/memory/.eslintignore
  packages/ui/memory/.eslintrc.js
  packages/ui/memory/.gitignore
  packages/ui/memory/babel.config.js
  packages/ui/memory/package.json
  packages/ui/memory/rollup.config.js
  packages/ui/memory/tsconfig.json
  packages/ui/memory/yarn.lock
Due: test:chromatic, versions:bump

refactor(ui): remove unused placeholder component
  packages/ui/memory/src/Button/Button.test.tsx
  packages/ui/memory/src/Button/Button.tsx
  packages/ui/memory/src/Button/index.ts
Due: test:chromatic, versions:bump

refactor(ui): reorganize HexEditor into subfolder
  packages/ui/memory/package.json
  packages/ui/memory/src/HexEditor/components/AutoSizeHexEditor.tsx
  packages/ui/memory/src/HexEditor/components/HexAsciiValue.tsx
  packages/ui/memory/src/HexEditor/components/HexByteValue.tsx
  packages/ui/memory/src/HexEditor/components/HexEditor.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorBody.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorBodyRow.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorGutter.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorMeasureRow.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorRow.tsx
  packages/ui/memory/src/HexEditor/components/HexOffsetLabel.tsx
  packages/ui/memory/src/HexEditor/components/StyledAutoSizeHexEditor.tsx
  packages/ui/memory/src/HexEditor/components/StyledHexEditor.tsx
  packages/ui/memory/src/HexEditor/constants/classNames.ts
  packages/ui/memory/src/HexEditor/constants/index.ts
  packages/ui/memory/src/HexEditor/constants/inlineStyles.ts
  packages/ui/memory/src/HexEditor/contexts/HexEditorContext.tsx
  packages/ui/memory/src/HexEditor/index.ts
  packages/ui/memory/src/HexEditor/keycoder.d.ts
  packages/ui/memory/src/HexEditor/themes/index.ts
  packages/ui/memory/src/HexEditor/themes/oneDarkPro.ts
  packages/ui/memory/src/HexEditor/types.ts
  packages/ui/memory/src/HexEditor/utils/index.ts
  packages/ui/memory/src/HexEditor/utils/styles.ts
  packages/ui/memory/src/index.ts
Due: test:chromatic, versions:bump

test(ui): add storybook visual test to HexEditor
  packages/ui/memory/src/HexEditor/HexEditor.stories.tsx
Due: test:chromatic, versions:bump

build(ui): add missing dependencies to pacakges/ui
  packages/ui/package.json
  yarn.lock
Due: test:chromatic, versions:bump

test(ui): add basic unit test to HexEditor
  packages/ui/memory/src/HexEditor/tests/Styled.test.tsx
Due: test:chromatic, versions:bump

test(ui): fix broken HexEditor unit test
  packages/ui/memory/src/HexEditor/tests/Styled.test.tsx
Due: test:chromatic, versions:bump

docs(ui): add specification template for HexEditor
  packages/ui/memory/src/HexEditor/HexEditor.stories.mdx
Due: test:chromatic, versions:bump

feat(ui): allow numpad keys in HexEditor
  packages/ui/memory/src/HexEditor/constants/index.ts
Due: test:chromatic, versions:bump

test(ui): refactor signed control tests
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.test.tsx
Due: test:chromatic, versions:bump

fix(ui): stop clearing SignedDecimal on invalid input
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.tsx
Due: test:chromatic, versions:bump

docs(ui): add spec on two's complement notation
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.stories.mdx
Due: test:chromatic, versions:bump

docs(ui): fix exponential notation on UnsignedIntegralConverter
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.stories.mdx
Due: test:chromatic, versions:bump

test(ui): update negative tests
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.test.tsx
Due: test:chromatic, versions:bump

refactor(ui): add indirect hex editor memory model
  packages/ui/memory/src/HexEditor/HexEditor.stories.tsx
  packages/ui/memory/src/HexEditor/components/AutoSizeHexEditor.tsx
  packages/ui/memory/src/HexEditor/components/HexAsciiValue.tsx
  packages/ui/memory/src/HexEditor/components/HexByteValue.tsx
  packages/ui/memory/src/HexEditor/components/HexEditor.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorBody.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorGutter.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorMeasureRow.tsx
  packages/ui/memory/src/HexEditor/components/HexEditorRow.tsx
  packages/ui/memory/src/HexEditor/components/HexOffsetLabel.tsx
  packages/ui/memory/src/HexEditor/components/MemoryLike.tsx
  packages/ui/memory/src/HexEditor/components/StyledAutoSizeHexEditor.tsx
  packages/ui/memory/src/HexEditor/components/StyledHexEditor.tsx
  packages/ui/memory/src/HexEditor/contexts/HexEditorContext.tsx
  packages/ui/memory/src/HexEditor/tests/Styled.test.tsx
  packages/ui/memory/src/HexEditor/types.ts
Due: test:chromatic, versions:bump

feat(ui): add placeholder for FlatMemoryView
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.scss
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.stories.mdx
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.stories.tsx
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.test.tsx
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.tsx
  packages/ui/memory/src/FlatMemoryView/index.ts
  packages/ui/memory/src/index.ts
Due: test:chromatic, versions:bump

feat(ui): add HexEditor width to imperative API
  packages/ui/memory/src/HexEditor/components/HexEditor.tsx
  packages/ui/memory/src/HexEditor/types.ts
Due: test:chromatic, versions:bump

fix(ui): expose HexEditorHandle, MemoryLike
  packages/ui/memory/src/HexEditor/index.ts
Due: test:chromatic, versions:bump

feat(ui): prototype FlatMemoryView in story
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.stories.tsx
Due: test:chromatic, versions:bump

refactor(ui): move FlatMemoryView implementation out of story
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.stories.tsx
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.tsx
Due: test:chromatic, versions:bump

test(ui): add mounting test for FlatMemoryVIew
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.test.tsx
Due: test:chromatic, versions:bump

fix(ui): fix broken link to converters
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.tsx
Due: test:chromatic, versions:bump

ci: fix freezing `yarn install`
  yarn.lock
Due: none

ci: bump development image version
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

fix(ui): fix misspelled import for integral converter
  packages/ui/memory/src/FlatMemoryView/FlatMemoryView.tsx
Due: test:chromatic, versions:bump
