Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*

test(core): fix failing MASM unit tests
  packages/native/core/test/libisa/masm/lir.cpp
Due: versions:bump

build(core): fix path to boost for WASM builds
  packages/native/core/scripts/build.js
Due: versions:bump

build(term): fix signing script
  bin/js-term/scripts/sign.sh
Due: versions:bump

feat(term): add ability to print non-asm figures
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
  packages/native/core/src/nodeisa/pep10.cpp
Due: versions:bump

feat(core): implment peph,pepb output
  packages/native/core/src/libisa/masm/utils/listing.hpp
  packages/native/core/src/libisa/masm/utils/listing.tpp
  packages/native/core/src/libisa/utils/format.cpp
  packages/native/core/src/libisa/utils/format.hpp
  packages/native/core/src/nodeisa/pep10.cpp
  packages/native/core/test/libisa/asmb/generic/pepbh.cpp
Due: versions:bump

fix(core): fix misaligned comment spacing in pepb/h
  packages/native/core/src/libisa/masm/utils/listing.tpp
  packages/native/core/test/libisa/asmb/generic/pepbh.cpp
Due: versions:bump

fix(term): fix cascading comments in peph
  packages/native/core/src/libisa/masm/utils/listing.tpp
Due: versions:bump

feat(term): enable peph/b output
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

ci: add platform tags
  .gitlab-ci.yml
Due: none

ci: add windows build
  .gitlab-ci.yml
Due: none

ci: add mac os build
  .gitlab-ci.yml
Due: none

feat(term): always dump charOut to stdOut
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

feat!(term): read charIn from stdin
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

feat!(term): make `run`'s object file positional
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

fix(term): hide positionals flag in `run`
  bin/js-term/src/commands.ts
Due: versions:bump

feat!(term): read `asm` input from positional argument
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

feat(term): rename asm's `--error-file` to `--err`
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
Due: versions:bump

feat!(term): rename asm's `--object-file` to `--obj`
  bin/js-term/src/index.ts
Due: versions:bump

docs(term): clean up `asm` flag descriptions
  bin/js-term/src/commands.ts
Due: versions:bump

build: update yarn.lock
  yarn.lock
Due: none

build: update yarn.lock for yarn 3.2.1
  yarn.lock
Due: none

fix(ui): typescript workaround
  packages/ui/memory/src/HexEditor/components/HexEditorBody.tsx
Due: test:chromatic, versions:bump

build(ide): strip unused plugins
  bin/ide/package.json
Due: versions:bump

build: release v0.4.0
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/js-term/CHANGELOG.md
  bin/js-term/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/updater/CHANGELOG.md
  packages/extensions/updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/editors/CHANGELOG.md
  packages/ui/editors/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/memory/CHANGELOG.md
  packages/ui/memory/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
  yarn.lock
Due: test:chromatic, versions:bump

fix(term): check for passed positional arguments
  bin/js-term/src/index.ts
Due: versions:bump

fix(core): silence unhandled cases warning
  packages/native/core/src/libisa/masm/elf/pack.tpp
Due: versions:bump

fix(core): silence non-void missing return value
  packages/native/core/src/libisa/symbol/table.tpp
Due: versions:bump

fix(core): silence [[nodiscard]] warning
  packages/native/core/test/libisa/elf_tools/pep10/pep10.cpp
Due: versions:bump

fix(core): fix crashing assert
  packages/native/core/test/libisa/elf_tools/pep10/pep10.cpp
Due: versions:bump

fix(core): fix peph/b macro lines
  packages/native/core/src/libisa/masm/utils/listing.tpp
Due: versions:bump

ci: fix loop-install crash
  scripts/loop-install.sh
Due: none

ci(ide): fix timeout on plugin download
  .gitlab-ci.yml
  scripts/loop-download-plugins.sh
Due: none

ci(ide): fix broken script path
  .gitlab-ci.yml
Due: none

build: replace`npm run` scripts with `yarn ...`
  packages/playground/package.json
  packages/ui/converters/package.json
  packages/ui/cpu/package.json
  packages/ui/editors/package.json
  packages/ui/help/package.json
  packages/ui/memory/package.json
  packages/ui/sample/package.json
Due: test:chromatic, versions:bump

fix(spec): ADD/SUB SP don't affect status bits
  docs/spec/pep10-documentation.tex
Due: none

refactor(spec): update status bits for NEGr/ASRr
  docs/spec/pep10-documentation.tex
Due: none

style(spec): update RTL style for CPWr/ADDr/SUBr
  docs/spec/pep10-documentation.tex
Due: none

ci(spec): build Latex spec on each commit
  .gitlab-ci.yml
Due: none

build(ui): fix broken `clean` command
  packages/ui/cpu/package.json
Due: test:chromatic, versions:bump
