Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*

build: upgrade theia version to latest (1.24.0)
  bin/ide/package.json
  package.json
  packages/extensions/start-page/package.json
  packages/extensions/updater/package.json
  packages/extensions/updater/src/electron-browser/updater/theia-updater-frontend-contribution.ts
  yarn.lock
Due: versions:bump

ci(ide): attempt to fix broken theia build
  .gitlab-ci.yml
Due: none

ci(ui): attempt to fix IDE failure to build
  .gitlab-ci.yml
Due: none

ci(ide): fix broken build script for IDE
  .gitlab-ci.yml
Due: none

feat: add playground to test DI/IoC
  packages/playground/.npmrc
  packages/playground/CHANGELOG.md
  packages/playground/generate-react-cli.json
  packages/playground/jest.config.js
  packages/playground/jest.setup.ts
  packages/playground/package.json
  packages/playground/src/index.ts
  packages/playground/templates/component/TemplateName.scss
  packages/playground/templates/component/TemplateName.stories.mdx
  packages/playground/templates/component/TemplateName.stories.tsx
  packages/playground/templates/component/TemplateName.test.tsx
  packages/playground/templates/component/TemplateName.tsx
  packages/playground/templates/component/index.ts
  packages/playground/tsconfig.json
Due: versions:bump

feat: add playground as workspace
  package.json
  yarn.lock
Due: none

feat: migrate playground sample code to subdirectory
  packages/playground/src/sample/dummy.test.tsx
  packages/playground/src/sample/entities.ts
  packages/playground/src/sample/interfaces.ts
  packages/playground/src/sample/inversify.config.ts
  packages/playground/src/sample/types.ts
Due: versions:bump

build(core): reduce code sizes of module files
  packages/native/core/src/nodeisa/CMakeLists.txt
Due: versions:bump

docs(core): explain why JS accessors shall not reference MPI
  packages/native/core/src/libisa/components/machine/interface.hpp
  packages/native/core/src/libisa/isa/pep10/local_machine.hpp
Due: versions:bump

feat: add sample code for CPU interface
  packages/playground/src/cpu/dummy.test.tsx
  packages/playground/src/cpu/entities.ts
  packages/playground/src/cpu/interfaces.ts
  packages/playground/src/cpu/inversify.config.ts
  packages/playground/src/cpu/types.ts
Due: versions:bump

feat(core): begin prototyping machine API
  packages/native/core/src/nodeisa/pep10.cpp
Due: versions:bump

build!: update dockerfile to allow multi-arch builds
  docker/develop/Dockerfile
Due: none

ci: target new dev container
  .gitlab-ci.yml
Due: none

build: target new dev container in VS Code
  .devcontainer/Dockerfile
Due: none

ci: fix cobertura coverage schema for GitLab 15
  .gitlab-ci.yml
Due: none

build(3rd-party): fix variable length array error
  3rd-party/catch/catch.cpp
  3rd-party/catch/catch.hpp
Due: none

build(3rd-party): fix broken catch include
  3rd-party/catch/catch.cpp
Due: none

build: re-install LLVM 14, fix duplicate layers
  docker/develop/Dockerfile
Due: none

test(core): fix broken unit test for node bindings
  packages/native/core/test/nodeisa/CMakeLists.txt
  packages/native/core/test/nodeisa/dummy.cpp
Due: versions:bump

ci: update to latest build image
  .gitlab-ci.yml
Due: none

cI: update build image
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  docker/develop/Dockerfile
Due: none

ci: use default clang
  .gitlab-ci.yml
Due: none

build: re-remove LLVM14
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  docker/develop/Dockerfile
Due: none

build: release 0.3.0 [skip ci]
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/js-term/CHANGELOG.md
  bin/js-term/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/updater/CHANGELOG.md
  packages/extensions/updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/editors/CHANGELOG.md
  packages/ui/editors/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/memory/CHANGELOG.md
  packages/ui/memory/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
  yarn.lock
Due: test:chromatic, versions:bump

build: add keytar dependencies
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  docker/develop/Dockerfile
Due: none

build(term): add arm64 targets
  bin/js-term/package.json
Due: versions:bump

build(term): add mac helper script to sign app
  bin/js-term/entitlements.plist
  bin/js-term/scripts/sign.sh
Due: versions:bump

build: include git-lfs in dev container
  docker/develop/Dockerfile
Due: none

build: release 0.3.1 [skip ci]
  bin/ide/package.json
  bin/js-term/package.json
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/package.json
  packages/extensions/updater/package.json
  packages/native/core/package.json
  packages/playground/package.json
  packages/ui/converters/package.json
  packages/ui/cpu/package.json
  packages/ui/editors/package.json
  packages/ui/help/package.json
  packages/ui/memory/package.json
  packages/ui/package.json
  packages/ui/sample/package.json
Due: test:chromatic, versions:bump

fix(core): remove 0x from listing address field
  packages/native/core/src/libisa/asmb/pep10/ir.cpp
  packages/native/core/src/libisa/masm/ir/directives.tpp
  packages/native/core/test/libisa/masm/lir.cpp
Due: versions:bump

build: purge unused boost config files
  docker/develop/build_boost.sh
  docker/develop/download_boost.sh
  docker/develop/user-config.jam
Due: none

build: switch to multi-stage dev container build
  docker/develop/Dockerfile
Due: none

build: upgrade to latest dev container
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

build: update yarn.lock
  yarn.lock
Due: none

build: hack for finding boost in dev container
  3rd-party/CMakeLists.txt
Due: none

build: target yarn@3.2.1
  package.json
Due: none

build(3rd-party): fix include issue in outcome
  3rd-party/outcome/outcome.hpp
Due: none

fix(builtins): add missing header
  packages/native/builtins/src/ex_registry.cpp
Due: versions:bump

build(builtins): silence warning about GENERATED files
  packages/native/builtins/CMakeLists.txt
Due: versions:bump
