Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

test:chromatic:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  image: registry.gitlab.com/pep10/pepsuite/develop:${BUILD_VERSION}
  before_script:
  - apt update
  - apt-get install git-lfs
  - source /emsdk/emsdk_env.sh
  - export CXX=$(which clang++-14)
  - export C=$(which clang-14)
  - yarn config set cache-folder ./npm
  ...

versions:bump:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  image: registry.gitlab.com/pep10/pepsuite/develop:${BUILD_VERSION}
  before_script:
  - apt update
  - apt-get install git-lfs
  - source /emsdk/emsdk_env.sh
  - export CXX=$(which clang++-14)
  - export C=$(which clang-14)
  - yarn config set cache-folder ./npm
  ...

feat(term): add stub for js-based terminal app
  .gitlab-ci.yml
  bin/js-term/README.md
  bin/js-term/package.json
  bin/js-term/src/index.ts
  bin/js-term/tsconfig.json
  bin/js-term/webpack.config.cjs
  package.json
  yarn.lock
Due: versions:bump

build(scripts): fix broken cloc script
  scripts/cloc.sh
Due: none

build(term): add script to capture git sha, version
  bin/js-term/scripts/echo-rev.sh
Due: versions:bump

build(term): ignore generated version file
  bin/js-term/src/.gitignore
Due: versions:bump

feat(term): copy about text for pep9term
  bin/js-term/src/about.ts
Due: versions:bump

build(term): add cli arg parsing, usage libraries
  bin/js-term/package.json
  yarn.lock
Due: versions:bump

feat(ui): implement argument checking for PepTerm
  bin/js-term/src/index.ts
Due: versions:bump

feat(term): add JSON description of TUI
  bin/js-term/src/commands.ts
Due: versions:bump

ci: fix typo in build:ide:linux
  .gitlab-ci.yml
Due: none

build: reset yarn.lock
  yarn.lock
Due: none

build: more yarn.lock fixes
  bin/ide/package.json
  yarn.lock
Due: versions:bump

build(term): deploy bundled app
  bin/js-term/package.json
  bin/js-term/webpack.config.cjs
Due: versions:bump

feat(term): add colored error messages
  bin/js-term/package.json
  bin/js-term/src/index.ts
  yarn.lock
Due: versions:bump

refactor(term): remove file existence checks
  bin/js-term/src/index.ts
Due: versions:bump

fix(term): add dummy outputs to all commands
  bin/js-term/src/index.ts
Due: versions:bump

refactor(term): allow chalk to handle color enables
  bin/js-term/src/index.ts
Due: versions:bump

refactor(ui): split signed from unsigned converters
  packages/ui/converters/src/ConverterContainer/ConverterContainer.test.tsx
  packages/ui/converters/src/IntegralConverter/index.ts
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.scss
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.stories.mdx
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.stories.tsx
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.test.tsx
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.tsx
  packages/ui/converters/src/SignedDecimalConverter/index.ts
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.scss
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.stories.mdx
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.stories.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/index.ts
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Binary.test.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Hexadecimal.test.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/UnsignedDecimal.test.tsx
  packages/ui/converters/src/index.ts
  packages/ui/help/src/ExportsViewer/ExportsViewer.tsx
Due: test:chromatic, versions:bump

fix(ui): fix broken storybook tests
  packages/ui/converters/src/ConverterContainer/ConverterContainer.stories.tsx
  packages/ui/cpu/src/RegistersPane/RegistersPane.stories.tsx
Due: test:chromatic, versions:bump

feat(ui): `-` toggles sign on SignedDecimalConverter
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.stories.mdx
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.tsx
Due: test:chromatic, versions:bump

fix(ui): fix broken reference to IntegralConverter
  packages/ui/help/src/ExportsViewer/ExportsViewer.tsx
Due: test:chromatic, versions:bump

feat(ui): allow converter to have no prefix
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.stories.mdx
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.stories.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/UnsignedIntegralConverter.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Binary-prefixless.test.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/Hexadecimal-prefixless.test.tsx
Due: test:chromatic, versions:bump

test(ui): refactor global state to local state
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.test.tsx
  packages/ui/converters/src/UnsignedIntegralConverter/tests/UnsignedDecimal.test.tsx
Due: test:chromatic, versions:bump

test(ui): add stub for Unicode converter container
  packages/ui/converters/src/ConverterContainer/ConverterContainer.test.tsx
Due: test:chromatic, versions:bump

docs(ui): address UnicodeConverter spec issues
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.stories.mdx
Due: test:chromatic, versions:bump

feat(term): suggest closest subcommand when given typo
  bin/js-term/package.json
  bin/js-term/src/index.ts
  yarn.lock
Due: versions:bump

style(term): tweak wording on command suggestion message
  bin/js-term/src/index.ts
Due: versions:bump

docs(term): add support information to --about
  bin/js-term/src/about.ts
  bin/js-term/src/commands.ts
Due: versions:bump

fix(ui): improve `-` handling for signed decimals
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.stories.mdx
  packages/ui/converters/src/SignedDecimalConverter/SignedDecimalConverter.tsx
Due: test:chromatic, versions:bump

build(core): remove dead code elimination
  packages/native/core/src/nodeisa/CMakeLists.txt
  scripts/cloc.sh
  yarn.lock
Due: versions:bump

build(term): add missing dependency
  bin/js-term/package.json
Due: versions:bump

fix(term): fix broken package dependency
  bin/js-term/package.json
Due: versions:bump

build(term): fix broken lockfile
  yarn.lock
Due: none

feat(term): implement `ls-macros`
  bin/js-term/package.json
  bin/js-term/src/index.ts
  packages/native/core/src/nodeisa/pep10.cpp
Due: versions:bump

fix(term): fix broken ls-figures implementation
  bin/js-term/src/index.ts
Due: versions:bump

feat(term): implement `macro` subcommand
  bin/js-term/src/commands.ts
  bin/js-term/src/index.ts
  packages/native/core/src/nodeisa/pep10.cpp
Due: versions:bump

feat(term): implement `figure` subcommand
  bin/js-term/src/index.ts
  packages/native/core/src/nodeisa/pep10.cpp
Due: versions:bump

fix(core): stop echo'ing symbol info to cout
  packages/native/core/src/libisa/masm/elf/pack.tpp
Due: versions:bump

feat(core): add function to get bytes of elf image
  packages/native/core/src/libisa/elf_tools/elf_helper.cpp
  packages/native/core/src/libisa/elf_tools/elf_helper.hpp
Due: versions:bump

refactor(term): drop useless emscripten bindings
  packages/native/core/dist/sim.js
  packages/native/core/dist/sim.wasm
  packages/native/core/src/nodeisa/CMakeLists.txt
  packages/native/core/src/nodeisa/sim.cpp
  packages/native/core/src/nodeisa/sim.hpp
Due: versions:bump

refactor(core): assign values to message_types
  packages/native/core/src/libisa/masm/project/message_handler.hpp
Due: versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*
