Repository Matthew-McRaven/PepSuite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:chromatic, versions:bump

Path conditions:
  test:chromatic: any of: packages/ui/**/*
  versions:bump: any of: packages/**/*, bin/**/*

docs(ui): add spec for IntegralConverter
  packages/ui/converters/src/IntegralConverter/IntegralConverter.stories.mdx
Due: test:chromatic, versions:bump

docs(ui): add spec for ConverterContainer
  packages/ui/converters/src/ConverterContainer/ConverterContainer.stories.mdx
Due: test:chromatic, versions:bump

docs: update code of conduct
  CODE_OF_CONDUCT.md
Due: none

docs: update README.md
  README.md
Due: none

build: attempt to fix chromatic test errors
  packages/ui/package.json
  yarn.lock
Due: test:chromatic, versions:bump

build: release 0.2.0 [skip ci]
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/theia-blueprint-updater/CHANGELOG.md
  packages/extensions/theia-blueprint-updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
Due: test:chromatic, versions:bump

build: prevent unsafe hoisting
  .yarnrc.yml
  packages/ui/package.json
Due: test:chromatic, versions:bump

build(ide): point links to PepSuite project
  bin/ide/CHANGELOG.md
  bin/ide/package.json
Due: versions:bump

build: fix yarn.lock
  packages/ui/package.json
  yarn.lock
Due: test:chromatic, versions:bump

build(ui): fix broken dependency in ui/help
  packages/ui/help/package.json
Due: test:chromatic, versions:bump

build(ui): attempt to fix broken `yarn.lock`
  packages/ui/cpu/package.json
  packages/ui/help/package.json
  yarn.lock
Due: test:chromatic, versions:bump

ci: fix chromatic build
  .gitlab-ci.yml
  .yarnrc.yml
  packages/ui/package.json
Due: test:chromatic, versions:bump

ci: update chromatic path
  .gitlab-ci.yml
  packages/ui/package.json
Due: test:chromatic, versions:bump

ci: fix broken chromatic path
  .gitlab-ci.yml
Due: none

build(ui): mark top-level ui package as private
  packages/ui/package.json
Due: test:chromatic, versions:bump

build: release 0.2.1 [skip ci]
  CHANGELOG.md
  bin/ide/CHANGELOG.md
  bin/ide/package.json
  bin/term/CHANGELOG.md
  bin/term/package.json
  lerna.json
  packages/extensions/start-page/CHANGELOG.md
  packages/extensions/start-page/package.json
  packages/extensions/theia-blueprint-updater/CHANGELOG.md
  packages/extensions/theia-blueprint-updater/package.json
  packages/native/core/CHANGELOG.md
  packages/native/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/converters/CHANGELOG.md
  packages/ui/converters/package.json
  packages/ui/cpu/CHANGELOG.md
  packages/ui/cpu/package.json
  packages/ui/help/CHANGELOG.md
  packages/ui/help/package.json
  packages/ui/package.json
  packages/ui/sample/CHANGELOG.md
  packages/ui/sample/package.json
Due: test:chromatic, versions:bump

docs: fix metainfo in root manifest
  package.json
Due: none

docs: fix changelog links in root
  CHANGELOG.md
Due: none

docs: update NOTICE
  NOTICE.md
Due: none

ci: update yarn.lock in version bump
  .gitlab-ci.yml
Due: none

build: update yarn.lock with latest local changes
  yarn.lock
Due: none

docs: update contribution guidelines
  CONTRIBUTING.md
Due: none

build: bump devcontainer image to v0.2.6
  .devcontainer/Dockerfile
Due: none

docs: reference old project in README
  README.md
Due: none

cI: enable coverage statistics in jest
  .gitlab-ci.yml
  package.json
  packages/ui/.gitignore
  packages/ui/converters/package.json
  packages/ui/cpu/package.json
  packages/ui/help/package.json
  packages/ui/sample/package.json
Due: test:chromatic, versions:bump

feat(ui): allow editable registers in RegistersPane
  packages/ui/cpu/src/RegistersPane/RegistersPane.stories.tsx
  packages/ui/cpu/src/RegistersPane/RegistersPane.tsx
Due: test:chromatic, versions:bump

ci: write total jest coverage statistics to console
  .gitignore
  .gitlab-ci.yml
  package.json
  scripts/merge-cobertura.py
Due: none

ci: fix coverage regex
  .gitlab-ci.yml
Due: none

style(ui): fix missing whitespace in converter spec
  packages/ui/converters/src/IntegralConverter/IntegralConverter.stories.mdx
Due: test:chromatic, versions:bump

fix(ui): don't reset on invallid character entry
  packages/ui/converters/src/IntegralConverter/IntegralConverter.tsx
Due: test:chromatic, versions:bump

ci(scripts): output coverage as x out of 100
  scripts/merge-cobertura.py
Due: none

ci(ui): fix typo on cobertura coverage
  .gitlab-ci.yml
Due: none

fix(ui): fix unclearable signed IntegralConverter
  packages/ui/converters/src/IntegralConverter/IntegralConverter.tsx
Due: test:chromatic, versions:bump

fix(ui): limit length of UnicodeConverter input
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.tsx
Due: test:chromatic, versions:bump

fix(ui): must strip base prefix in IntegralConverter
  packages/ui/converters/src/IntegralConverter/IntegralConverter.tsx
Due: test:chromatic, versions:bump

fix(ui): accept empty strings in UnicodeConverter
  packages/ui/converters/src/UnicodeConverter/UnicodeConverter.tsx
Due: test:chromatic, versions:bump

ci(scripts): add build script to loop `yarn install`
  .gitlab-ci.yml
  scripts/loop-install.sh
Due: none

ci: crash if bash install script fails
  .gitlab-ci.yml
Due: none

build: use eslint plugin to format json
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  yarn.lock
Due: none

build(extensions): remove outdated eslint configs
  packages/extensions/start-page/.eslintrc.js
  packages/extensions/theia-blueprint-updater/.eslintrc.js
Due: versions:bump
